<html>
  <head>
    <title>五子棋</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='/stylesheets/site.css' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
      var user = {name: "<%= current_user.name %>", id: <%= current_user.id %>}
    </script>
    <script src="/javascripts/chess.js"></script>
    <% var boardLength = 18; %>
  </head>

  <body>
    <div>
      <%= current_user.name %>
      <a href="javascript:;" id="reset_chess">Rest</a>
    </div>
    <table>
      <% for (var i = 0; i < boardLength; i++ ) { %>
        <tr>
          <% for (var j = 0; j < boardLength; j++) { %>
          <td data-x="<%= i %>" data-y="<%= j %>">
          </td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </body>
</html>
